body {
  background-color: #f8f9fa;
}
.navbar {
  background: linear-gradient(45deg, #6f42c1, #845ef7) !important;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500;
}
.navbar-nav .nav-link:hover {
  color: #ffd43b !important;
}
.btn-danger {
  background-color: #ff6b6b !important;
  border: none;
}

.btn-danger:hover {
  background-color: #fa5252 !important;
}
.btn-primary {
  background-color: #6f42c1 !important;
  border-radius: 20px;
  font-weight: bold;
  border: none;
}
.card {
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.card-title {
  font-weight: bold;
}


